<!--Begin modal include-->
<div class="modal fade get_ext_file_<?php echo $requestType;?>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel"><?php echo _('Get Files From Provisioner');?></h4>
            </div>
            <div class="modal-body">
                <div class="element-container">
                    <div class="row">
                        <div class="col-md-12">
                            <p><?php echo sprintf(_('SCCP Manager will download %s files from dkgroot/provision_sccp on GitHub. That site is unrelated to SCCP Manager; files are not warranted.'), htmlspecialchars($requestType)); ?></p>
                            <p><?php echo sprintf(_('Select the %s to fetch, then click Get Files from Provisioner. This may take a while depending on your connection.'), htmlspecialchars($requestType)); ?></p>
                        </div>
                    </div>
                </div>
                <div class="element-container">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-3">
                              <label class="control-label" for="get_model_files"><?php echo _('Fetch Files for');?></label>
                              <i class="fa fa-question-circle fpbx-help-icon" ></i>
                            </div>
                            <div class="col-md-3">
                                <div class = "lnet form-group form-inline" data-nextid=1>
                                    <?php
                                    switch ($requestType) {
                                        case 'firmware':
                                            echo  "<select class='form-control' id='ext_device'>";
                                            break;
                                        case 'locale':
                                            echo  "<select class='form-control' id='ext_locale'>";
                                            break;
                                        case 'country':
                                            echo "<select class='form-control' id='ext_country'>";
                                            break;
                                    }
                                    foreach ($selectArray as $key => $val) {
                                        echo "<option value= '{$val}'";
                                        if (($val == 'English_United_Kingdom') || ($val == 'United_Kingdom')) {
                                            echo ' selected="selected"';
                                        }
                                        echo ">{$val}</option>";
                                    }
                                    ?>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span id="new_model-help" class="help-block fpbx-help-block">Help.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo _('Cancel');?></button>
                <button type="button" class="btn btn-primary sccp_get_ext" data-id="get_ext_files" data-type=<?php echo '"'.$requestType.'"';?> onclick="showProgress();" id="get_model_files" data-dismiss="modal"><?php echo _('Get Files from Provisioner');?></button>
            </div>
        </div>
    </div>
</div>
<!--End modal include-->
<!--Start progress modal include-->
<div id="pleaseWaitDialog" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center" style="padding: 28px 24px;">
                <p style="margin-bottom: 20px;">
                    <i class="fa fa-cloud-download fa-3x text-primary" aria-hidden="true"></i>
                </p>
                <h4 class="modal-title" style="margin-bottom: 8px;"><?php echo _('Getting files…');?></h4>
                <p class="text-muted small" style="margin-bottom: 20px;"><?php echo _('Please wait.');?></p>
                <div class="progress" style="height: 6px;">
                    <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End progress modal include-->
